/* STYLESHEET */
* {
font-style: arial;
}
body{
width: 100%
}
#nav {}

.home{
background-image: url("lan.jpg");
background-repeat: no-repeat;
background-size: 100%;
background-position: top center;
background-attachment: fixed;
}
.csgo{
background-image: url("piug.jpg");
background-repeat: no-repeat;
background-size: 100%;
background-position: top center;
background-attachment: fixed;
}
.hs{
background-image: url("moke.png");
background-repeat: no-repeat;
background-size: 100%;
background-position: top center;
background-attachment: fixed;
}
/*.navbar{ ONÖDIGT, ANVÄNDER NY NAVBAR STYLE ÄR INNE I HTML.
list-style-type: none;
margin: 0 auto;
overflow: hidden;
background-color: #000;
}
.navbar li{
float: left;
}
	.navbar li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 16px 20px;
	text-decoration: none;
	font-size: 25px
	
}*/

.homeinfo {
padding: 10px;
text-align: center;
width: 1050px;
position: relative;
left: 350px;
top: 50px;
line-height: 1.8;
background-color: black;
opacity: 0.9;
color: white;
display:block
}
	.homeinfo p{
	font-size: 18px;
	}
.hsinfo {
padding: 12px;
text-align: center;
width: 1000px;
position: relative;
left: 350px;
top: 100px;
line-height: 1.8;
background-color: black;
opacity: 0.9;
color: white;
display:block
}
	.hstxtinfo p{
	font-size: 18px;
	}
.premierinfo {
padding: 12px;
text-align: center;
width: 1000px;
position: relative;
left: 350px;
top: 100px;
line-height: 1.8;
background-color: black;
opacity: 0.9;
color: white;
display:block
}
	.pleagueinfo p{
	font-size: 18px;
	}
.amateurinfo {
padding: 12px;
text-align: center;
width: 1000px;
position: relative;
left: 350px;
top: 100px;
line-height: 1.8;
background-color: black;
opacity: 0.9;
color: white;
display:block
}
	.aleagueinfo p{
	font-size: 18px;
	}
